.menu{
	text-align: center;
	
}
a{
	text-decoration: none;
	margin: 20px;
	color: black;
}
.img{
	background-image: url(lamp.jpg);
	padding:100px 0;
	background-size: contain;
	text-align: center;
	color: white;
}



h1{
font-size: 100px;
}
img
{
	width: 90%;
}
.text
{
	display: inline-block;
	width: 30%;
}
.company
{
	text-align: center;
}
.team
{
	text-align: center;
}
.card img
{
	width: 90%;
height: 100px;
}
.card
{
	border: 1px solid grey;
	display: inline-block;
	padding: 15px;
	text-align: left;
	width: 20%;
	height: 90%;
	min-width: 150px;
}
button
{
	background-color: blue;
	border-radius: 8px;
	color: white;
	width: 90%;
	height: 50px;
}
.ilon
{
	font-size: 30px;
}
.grey
{
	color:grey;
}
.ronaldo
{
	font-size: 30px;
}
.spiderman
{
	font-size: 30px;
}
.tony
{
	font-size: 30px;
}
.rates
{
	text-align: center;
	background-color: grey;
}
.rate-card
{
	display: inline-block;
	border: 1px black solid;
	width: 30%;
	height: 500px;
	min-width: 150px;
}
.card-head
{
	background-color: black;
	height: 100px;
	padding-top: 40px;
}
h2
{
	color: white;
	margin: 0px;
}
.card-center
{
	background-color: blue;
	height: 100px;
	padding-top:40px;
}
.card-end
{
	background-color: black;
	height: 100px;
	padding-top: 40px;
}
button
{
	background-color: black;
	width: 60%
	border-radius:8px;

}

@media (max-width: 575px){
	a{
		display: block;
		font-size: 30px;
	}
	.world{
width: 90%;
	}
	.img{
padding: 70px 0;
background-repeat: no-repeat;
	}
	h1{
font-size:28px;
	}
}
.lamps
{
	width: 10%;

}
input
{
width: 100%;
margin-top: 10px;
}

.contacts img{
	width: 20px;
}
.contacts p {
	display: inline-block;
}
.contacts{
	text-align: left;
}
.contacts button{
	margin-left: 5%;
	margin-top: 5%;
}